.form-control {
  border: 1px solid #bfc6e6;
  width: 300px;
  margin-left: 30px;
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.logo-img {
  width: 100px;
  height: 40px;
  margin-left: 30px;
  margin-right: 20px;
}
.active {
  color: blue;
}
.bell-icon {
  margin-left: 15px;
  margin-right: 10px;
}
.home {
  margin-right: 10px;
}
.result {
  margin-right: 10px;
}
.faq {
  margin-right: 10px;
}
.about-us {
  margin-right: 10px;
}
.contact-us {
  margin-right: 10px;
}
