.form-control {
  border: 1px solid #bfc6e6;
  width: 300px;
  margin-left: 30px;
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.logo-img {
  width: 100px;
  height: 40px;
  margin-left: 30px;
  margin-right: 20px;
}
.active {
  color: blue;
}
.bell-icon {
  margin-left: 15px;
  margin-right: 10px;
}
.home {
  margin-right: 10px;
}
.result {
  margin-right: 10px;
}
.faq {
  margin-right: 10px;
}
.about-us {
  margin-right: 10px;
}
.contact-us {
  margin-right: 10px;
}

/*Banner css*/
.Banner {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.banner-div {
  height: 80%;
  width: 95%;
  position: relative;
  cursor: pointer;
}
.banner-child {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}
.left,
.right {
  position: absolute;
  background-color: rgb(223, 222, 224);
  transform: translateY(-75px);
  width: 1rem;
  display: flex;
  justify-content: center;
}

.right {
  right: 0px;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.Recommended,
.see-all {
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}
.see-all {
  color: rgb(63, 108, 255);
  cursor: pointer;
}
/*card  css*/

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  overflow-y: hidden;
  overflow-x: auto;
  padding-left: 20px;
}
.examCard {
  border: 1px solid gray;
  height: 215px;
  min-width: 300px;
  width: 100%;
  padding: 15px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
@media (max-width: 900px) {
  .cardRow {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .examCard {
    max-width: 300px;
  }
  .recentExam {
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: flex-start;
  }
}
@media (max-width: 700px) {
  .examCard {
    width: screen;
    max-width: 100%;
  }
}
.card-row-1,
.card-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container {
  max-width: 950px;
}
.card-image {
  border: 1px solid gray;
  border-radius: 12px;
}
.card-imgtag {
  border-radius: 13px;
  object-fit: cover;
}
.card-heading {
  padding: 10px;
  height: 50px;
}
.head1 {
  font-weight: bold;
}
.head2 {
  font-size: x-small;
  color: gray;
}
.bookmark {
  color: rgb(0, 0, 87);
  right: 20px;
}
.line {
  height: 0.1px;
  background-color: rgb(177, 176, 176);
  margin: 10px;
}
.card-row2 {
  padding: 10px;
  padding-top: 0%;
  margin-left: 50px;
}
.member {
  font-weight: 500;
  font-size: 15px;
}
.member-logo {
  margin-right: 10px;
}
.eng {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 6px;
  font-size: x-small;
  color: gray;
  margin-right: 10px;
}
.tags {
  margin: 8px;
  margin-left: 0;
}
.view {
  color: rgb(63, 108, 255);
  font-size: small;
  margin: 5px;
  margin-left: 0;
  cursor: pointer;
}
.view-details {
  margin-right: 3px;
  font-weight: bold;
}
.recentExam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.recent-tag {
  padding: 13px;
  border: 2px solid rgb(43, 91, 248);
  color: rgb(43, 91, 248);
  border-radius: 20px;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 10px;
}
.recent-tag:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(43, 91, 248);
}

.footer-logo {
  width: 100px;
  height: 50px;
  margin-left: 13px;
}

@media (max-width: 640px) {
  .footer-logo {
    width: 85px;
    height: 50px;
    margin-left: 10px;
    margin-right: 5px;
  }
}

a {
  text-decoration: none;
}

.footer-playstore {
  width: 150px;
  height: 100px;
  margin-left: 50%;
}
